# Dependencies
node_modules/

# Expo
.expo/
dist/
build/
web-build/
.expo-shared/
expo-env.d.ts

# Environment
.env
.env.local
.env.production
.env*.local

# Firebase
backend/functions/lib/
.firebase/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Expo prebuild
/android
!/android/app/debug.keystore
/ios

# Sensitive
expo-google-play-service-account-key.json
GoogleService-Info*.plist
google-services*.json
