# Production environment configuration
# Used when running "bun run dev:production"

EXPO_PUBLIC_FIREBASE_ENV=production
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyC_U5QPw9QLFfbJFfdMmMtGJ_AbvoX13tQ
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=limited-edition-prod.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=limited-edition-prod
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=limited-edition-prod.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=313942451307
EXPO_PUBLIC_FIREBASE_APP_ID=1:313942451307:web:3860bc4ac990d3d8e97d2e
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KTMWL710KX
